$btn-size: 4rem;
$font: "Patrick Hand";
$color: hsla(0, 0%, 20%, 1);

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Calculator {
  display: flex;
  flex-direction: column;
}

.Buttons {
  display: grid;
  grid-gap: $btn-size/10;
  grid-template-columns: $btn-size $btn-size $btn-size $btn-size;
  grid-template-rows: $btn-size $btn-size $btn-size $btn-size $btn-size;
  grid-template-areas:
    "clear equal divide multiply"
    "seven eight nine minus"
    "four five six plus"
    "one two three enter"
    "zero zero point enter";
}

.Button {
  border-radius: 5px;
  box-shadow: -1px 2px hsla(0, 0%, 0%, 0.6);
  $button-background: lighten($color, 100);
  background-color: $button-background;
  font-size: $btn-size/ 4.5;
  outline: none;
  /* 0.5s duration on release */
  transition: background-color 0.5s ease;
  &:active,
  &.active {
    position: relative;
    top: 2px;
    right: 1px;
    box-shadow: 0px 1px hsla(0, 0%, 0%, 0.5);
    transition-duration: 0s; /* immediately apply style on active*/
    background-color: darken($button-background, 10);
  }
}

.Credit {
  position: relative;
  left: $btn-size * 1.3;
  margin-top: $btn-size * 0.3;
  font-family: $font, cursive;
  font-size: 1.2rem;
  a {
    margin-left: 10px;
    i {
      color: $color;
      display: inline-block;
      font-size: 1.5rem;
    }
  }
}

.Formula {
  font-family: $font, cursive;
  color: lighten($color, 30%);
  $font-size: $btn-size / 2.8;
  font-size: $font-size;
  letter-spacing: 0.1rem;
  width: $btn-size * 4;
  word-wrap: break-word;
  max-height: $font-size * 4;
  overflow: auto;
}

$display_font-size: $btn-size / 2.3;
.Output {
  font-family: $font, cursive;
  align-self: flex-end;
  font-size: $display_font-size;
  margin-bottom: 1rem;
  color: $color;
  width: $btn-size * 4;
  max-height: $display_font-size;
  overflow-x: scroll;
  text-align: right;
  letter-spacing: 0.2rem;
}
